.search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.ki-input {
    fill: #FFF;
    stroke-width: 3px;
    stroke: #35AF90;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 637px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10rem;
}

.gpt-svg {
    width: 30px;
    height: 40px;
}

.send-gpt-btn {
    border-radius: 10px;
    position: relative;
    right: 55px;
}

.text-border {
    padding: 1rem 0;
    border-top: 1.5px solid #726f6f;
    font-weight: bold;
}

/* 個別のデザイン */
.item-study {
    background-image: url(../images/study.jpg);
    color: #000;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.item-study h2 {
    transform: rotate(-6deg);
}

.item-pe {
    background-image: url(../images/dumbbells.jpg);
}

.item-play {
    background-image: url(../images/lego-blocks.jpg);
}

.item-health {
    background-image: url(../images/family.jpg);
    color: #000;
}

.item-health h2 {
    padding: 0 30px 0 0;
}

.item-cook {
    background-image: url(../images/cook.jpg);
    color: black;
    display: flex;
    justify-content: flex-end;
}

.item-cook h2 {
    padding: 35px 30px 0 0;
}

.item-work {
    background-image: url(../images/work.jpg);
    color: #fff;
    display: flex;
    justify-content: flex-start;
}

.item-work h2 {
    padding-left: 20px;
    font-size: 20px;
}

.item-app {
    background-image: url(../images/app.jpg);
}

.item-travel {
    background-image: url(../images/beach.jpg);
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

/* スキルカードを3等分する */
.idea-item-1 {
    background-color: #fff;
}

.idea-item-1 h2 {
    color: #000;
}

.idea-item-2 {
    background-color: #35AF90;
}

.idea-item-3 {
    background-color: #000;
}

.idea-item h2 {
    text-align: center;
}