/* main.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: #f8fdc5;
}

.loader {
    text-align: center;
    background-color: #f8fdc5;
    padding: 20px;
}

.loader img {
    max-width: 100px;
}

.loader-text {
    margin-top: 30px;
    font-size: 1.5rem;
}

p {
    margin-bottom: 10px;
    font-family: 'DotGothic16', sans-serif;
    font-size: 30px;
}

/* フッターを画面の右下に配置 */
footer {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 10px;
    color: #fff;
}