body {
  background-color: #F6FF8C;
}

header {
  max-width: 100%;
  background-color: #35AF90;
  display: flex;
  /* justify-content: space-between; */
  /* flexboxアイテムの最初（左）を起点、最後を終点とし、残りの要素を均等に配置できる指定方法 */
  height: 180px;
  padding: 0 4%;
  align-items: center;
  /* 縦方向に中央揃え */
  position: sticky;
  top: 0;
}

header h3 {
  float: left;
}

p {
  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

/*キーワード検索欄*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ki-input {
  fill: #FFF;
  stroke-width: 3px;
  stroke: #35AF90;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 637px;
  height: 60px;
  flex-shrink: 0;
  border-radius: 10rem;
}

.button {

  align-items: center;
  width: 40px;
  height: 40px;

  background: url(../images/gpt.png), lightgray 50% / cover no-repeat;
}

.text {
  text-align: center;
}

/* アイデアのテンプレート */
.idea-list {
  display: flex;
  flex-wrap: wrap;
  /* 折り返しをする */
}

/* スキルカードを3等分する */
.idea-item-1 {
  margin-left: 10px;
  width: 30%;
  /* widthが100%を超えたら折り返す */
  background-color: #fff;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.idea-item-1 h2 {
  color: #000;
}

.idea-item-2 {
  margin-left: 10px;
  width: 30%;
  /* widthが100%を超えたら折り返す */
  background-color: #35AF90;
  ;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.idea-item-3 {
  margin-left: 10px;
  width: 30%;
  /* widthが100%を超えたら折り返す */
  background-color: #000;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
}

.idea-item h2 {
  text-align: center;
}

.select {
  margin-top: 10px;
  display: flex;
  align-items: center;
  text-align: center;
}

.select-true {
  width: 142px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #35AF90;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.select-false {
  width: 142px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.ansButton {
  width: 200px;
  height: 80px;
  border-radius: 100px;
  background-color: #35AF90;
  text-align: center;
  /* align-items: center; */
}

.ansButton p {
  padding-top: 20px;
  font-size: 20px;
  color: #fff;
  align-items: center;
}

textarea {
  width: 750px;
  height: 250px;
}

.ans-list {
  margin-top: 40px;
  display: flex;
  /* align-items: center; */
}

.ans-item {
  padding-top: 20px;
  padding-left: 30px;
  width: 360px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  flex-shrink: 0;
  background-color: #FFF;
}

.ans-title {
  width: 340px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #35AF90;
}

.ans-description {
  margin-top: 10px;
  width: 340px;
  height: 290px;
  flex-shrink: 0;
  border-radius: 10px;
  background-color: #35AF90;
}