html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f8fdc5;
}

img {
  max-height: 100px;
  /* ロゴの高さを調整する必要がある場合に調整 */
}

h2 {
  font-family: 'DotGothic16', sans-serif;
  /* font-family: 'New Tegomin', serif; */
}

p {
  color: #000;
  font-family: Inter;
  font-size: 19px;
  font-style: italic;
  font-weight: 200;
  line-height: normal;
}

a {
  text-decoration: none;
  color: #fff;
}

/* ------ ヘッダー ------ */
header {
  max-width: 100%;
  background-color: #35AF90;
  display: flex;
  height: 130px;
  padding: 0 4%;
  align-items: center;
}

header h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 30px;
  margin-bottom: 10px;
}

header h3 {
  font-family: 'DotGothic16', sans-serif;
  font-size: 18px;
}

header img {
  position: relative;
  left: 380px;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.material-symbols-outlined {
  color: #fff;
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

footer p {
  font-size: 11px;
  text-align: right;
}

.text {
  margin: 20px 0 10px 0;
  text-align: center;
}

/* ボタン共通のデザイン */
.button {
  background-color: #35AF90;
  border: none;
  display: flex;
  flex-wrap: nowrap;
  cursor: pointer;
}

.button:hover {
  opacity: 0.7;
}

/* アイデアカード部分の共通のデザイン */
.idea-list {
  display: flex;
  flex-wrap: wrap;
  /* 折り返しをする */
  text-align: center;
  justify-content: center;
}

.idea-list h2 {
  padding-top: 20px;
  font-size: 1.5rem;
}

.card {
  height: 150px;
  width: 280px;
  border-radius: 8px;
  margin: 0 10px 20px 10px;
  padding: 30px;
  box-sizing: border-box;
  box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.45);
}

.card:hover {
  transition: all .5s;
  box-shadow: 0px 3px 8px #333;
  transform: scale(1.1);
}

/* ------ select-〇.html ------ */
.select {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.select p {
  padding-top: 8px;
  color: #fff;
}

.select-true {
  width: 142px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #35AF90;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 5px 0 5px;
  overflow-wrap: break-word;
}

.select-false {
  width: 142px;
  height: 42px;
  flex-shrink: 0;
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin: 0 5px 0 5px;
}

.select-idea-item {
  width: 350px;
  background-color: #35AF90;
  color: #fff;
  overflow-wrap: break-word;
}

.select-idea-item h2 {
  font-size: 25px;
}

.input-idea {
  display: flex;
  padding: 10px 0 0 50px;
}

.idea-textarea {
  width: 70%;
  margin: 0 auto;
}

.idea-textarea textarea {
  width: 800px;
  height: 250px;
  margin: 10px 0 20px 50px;
}

.idea-textarea {
  text-align: center;
}

.idea-textarea .ansButton input {
  border: none;
  width: 340px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 50px;
  background-color: #35AF90;
  color: #fff;
  font-size: 20px;
  font-family: 'DotGothic16', sans-serif;
}

.idea-textarea .ansButton input:hover {
  transition: all .5s;
  box-shadow: 0px 3px 8px #333;
  transform: scale(1.1);
}