.idea-textarea {
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

textarea {
    width: 800px;
    height: 250px;
    margin-bottom: 10px;
}

.ansButton input {
    border: none;
    width: 340px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 50px;
    background-color: #35AF90;
    color: #fff;
    font-size: 1.4rem;
    font-family: 'DotGothic16', sans-serif;
}

.ansButton input:hover {
    transition: all .5s;
    box-shadow: 0px 3px 8px #333;
    transform: scale(1.1);
}

/* ------ レスポンシブデザイン(スマホ用) ------ */
@media screen and (max-width: 414px) {
    .idea-textarea {
        width: 70%;
    }

    textarea {
        margin: 10px auto;
        width: 300px;
        height: 160px;
    }

    .ansButton input {
        width: 200px;
        height: 40px;
        font-size: 1.1rem;
    }
}